[user]
	name = KaifengWU
	email = 23307140053@m.fudan.edu.cn
	email = core.editor
[core]
	editor = vim
	sparseCheckout = true
[color]
	ui = true
[alias]
	cm = commit
	co = checkout
	lg = log --all --graph --decorate
	last = log -1 HEAD
	br = branch
	cb = checkout -b
        ss = status
        ct = cat-file -p
        ft = fetch
        mtl= mergetool
[http]
	sslVerify = true
	proxy = 127.0.0.1:7890
[https]
	proxy = 127.0.0.1:7890
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
